OKX_BASE_URL=https://www.okx.com
QUOTE_CCY=USDT
BAR=15m

RSI_PERIOD=14
RSI_OVERSOLD=30
RSI_OVERBOUGHT=70
CANDLE_LIMIT=2400
VWMA_PERIOD=100
INDICATOR_LOOKBACK=300
DB_PATH=okx_scanner.sqlite3

SCAN_INTERVAL_SECONDS=900
REQUEST_TIMEOUT_SECONDS=10
REQUEST_ATTEMPTS=3

DISCORD_WEBHOOK_URL=
